{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% bootstrap_css %}
        {% block extra_css %}{% endblock extra_css %}
        <title>{% block title %}{% endblock title %} - GamaTron</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    </head>
    <body>
        {% block body %}{% endblock body %}
        
        {% bootstrap_javascript %}
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>