{% extends 'base.html' %}

{% block title %}Prodotti{% endblock title %}

{% block body %}
    {% include 'includes/header.html' %}
    <h1>Prodotti</h1>
    <h2>Lista prodotti:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID prodotto</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            {% for p in prodotti %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.categoria }}</td>
                    <td>{{ p.prezzo }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Nessun prodotto trovato</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'home' %}">Torna alla home</a>
{% endblock body %}